$purpleLight: #302D43;
$purpleDark: #282639;
$neonGreen: #92CF48;
$greylightfont2BG: #F4F6F9;
$greydarkBG: #EAEDF3;
$greyDarkFont: #6C7882;
$greylightfont2Font: #BBC1DC;
$greylightfont2Font2: #A5ADBD;
$orange: #F48320;
$purple: #744BCE;


// Grid System
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
